name: Rust
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    container: alpine:latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        apk update
        apk add curl build-base pkgconf openssl-dev
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
        
    - name: Build
      run: |
        export PATH="$HOME/.cargo/bin:$PATH"
        cargo build --release
        
    - name: Upload binary artifact
      uses: actions/upload-artifact@v4
      with:
        name: rust-binary
        path: target/release/image